@font-face{
  font-family: flower;
  src: url('fonts/IndieFlower-Regular.ttf');
}

body {
  background-color: #333333;
  font-size: 16px;
  font-family: flower;
  /*text-align: center;*/
}

.servers {
  margin: 1em;
}

.list {
  text-align: center;
  margin: 1em
}