body {
  background-color: #333333;
  font-size: 16px;
  /*text-align: center;*/
}

.role{
  text-align: right;
  margin: 1em;
}

.title {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 1em;
}

.board {
  text-align: center;
  font-size: 3em;
}

.card {
  width: 15%;
  height: 10vh;
  background-color: #8e8e8e;
  background-image: url('img/blankcard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  float: left;
  margin: 0.5em 2.5%;
  user-select: none;
}

.word {
  font-size: 0.5em;
  margin-top: 5.75vh;
  color: black;
}

.selected {
  opacity: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: #b39600
}

.black {
  color: black;
  border: 2px dashed black;
  width: 50%;
  margin: 5.75vh auto;
}

.backblue {
  background-color: blue;
  background-image: url('img/bluecard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.backred {
  background-color: red;
  background-image: url('img/redcard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.backyellow {
  background-color: #f1f170;
  background-image: url('img/yellowcard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.backblack {
  background-color: black;
  background-image: url('img/blackcard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.nextGame {
  float: right;
  margin: 0 1em;
}